body {
    font-family: 'Cute Font', cursive;
    box-sizing: border-box;
    text-align: center;
    background-image: url("https://i.ibb.co/q1M74RM/fullsizeoutput-29d.jpg");
    
  }

 .mainBody, #mainHeader {
    background-color: white;
    color: black;
    max-width: 960px;
    margin: auto;
    line-height: 20px;
    font-size: 20px;
  }

  #questionBody {

    text-align: left;
    

  }

  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .container input:checked ~ .checkmark {
    background-color: #000;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  h1 {

    
    font-size: 20px;

  }

  @media only screen and (max-width: 980px) {
    .body1 {
      width: 400px;
    }
  
  }